.item {
  font-size: 12px;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.item span {
  font-weight: 600;
}

.forecastItem {
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.info {
  display: flex;
  justify-content: space-around;
}
