.accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  padding: 10px;
}

.day-lable {
  font-size: 20px;
  font-weight: 600;
}

.icon {
  max-width: 40px;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inform {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  background-color: #ffffffc5;
  border-radius: 0 0 8px 8px;
  padding: 10px;
}

.item span {
  font-weight: 600;
}

.details {
  background-color: #ffffffc5;
  border-radius: 0 0 8px 8px;
  padding: 10px;
}
