.header {
  padding: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
  font-weight: 500;
}

.menu {
  color: #fff;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.activeLink {
  color: #fcbc34;
}
